<%= form_for(truck) do |f| %>
  <% if truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(truck.errors.count, "error") %> prohibited this truck from being saved:</h2>

      <ul>
      <% truck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :truck_name %>
    <%= f.text_field :truck_name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :main_image %>
    <%= f.text_area :main_image %>
  </div>

  <div class="field">
    <%= f.label :thumb_image %>
    <%= f.text_area :thumb_image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
