<%= form_for(truck) do |f| %>
  <% if truck.errors.any? %>
      <% truck.errors.full_messages.each do |error| %>
        <%= alert_generater error %>
      <% end %>
  <% end %>

  <div class="row ">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :truck_name %>
        <%= f.text_field :truck_name, class: 'form-control' %>
      </div>

      <div class="form-group imageUpload">
        <%= f.label :main_image, "Cover Image", for: "#{imageId = SecureRandom.uuid}", class: "btn btn-large btn-primary" %>
        <%= f.file_field :main_image, id: "#{imageId}", class: "hide", onclick: "reply_click(this.id)" %>
        <img src="" id="<%= (imageId + "1") %>" alt="Preview Image" width="200px"/>
      </div>

      <div class="form-group imageUpload">
        <%= f.label :thumb_image, "Truck Image", for: "#{imageId = SecureRandom.uuid}", class: "btn btn-large btn-primary" %>
        <%= f.file_field :thumb_image, id: "#{imageId}", class: "hide", onclick: "reply_click(this.id)" %>
        <img src="" id="<%= (imageId + "1") %>" alt="Preview Image" width="200px"/>
      </div>

      <div class="form-group">
        <%= f.label :food_type %>
        <%= f.select :food_type, options_for_select([['Barbecue'], ['Hamburgers/Hot Dogs'], ['Sandwiches'], ['Drinks/Coffee'], ['Desserts'], ['Hispanic'], ['Seafood/Sushi'], ['Mediterranean'], ['Breakfast'], ['Asian'], ['Pizza'], ['Ice Cream'], ['Shaved Ice/Italian Ice'], ['Indian'], ['Hawaiian']], selected: truck.food_type), options={:prompt => "- Choose Food Type -"}, html_options={class: 'form-control'} %>
      </div>

      <div class="form-group">
        <%= f.label :time_zone %>
        <%= f.select :time_zone, options_for_select([['America/Chicago'], ['America/Denver'], ['America/Los_Angeles'], ['America/New_York']], selected: truck.time_zone), options={:prompt => "- Choose Time Zone -"}, html_options={class: 'form-control'} %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', rows: 13 %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :facebook %>
    <%= f.text_field :facebook, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :instagram %>
    <%= f.text_field :instagram, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :twitter %>
    <%= f.text_field :twitter, class: 'form-control' %>
  </div>

  <hr>

  <% unless current_page?(new_truck_path) %>
    <h2>Menu:</h2>

    <div class="form-group">
      <%= f.fields_for :menus do |menu_form| %>
        <%= render 'menu_fields', f: menu_form %>
      <% end %>

      <div class="form-group">
        <%= link_to_add_association 'Add Menu Item', f, :menus, class: 'btn btn-outline-success', id: "add-menu" %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit 'Save Truck', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>

<script type="text/javascript">
  $("#add-menu").click(function(){
    var uniqueId = Math.random().toString(36).substring(2) 
             + (new Date()).getTime().toString(36);
    $("label.file-label").last().attr("for", uniqueId);
    $("input.food_img").last().attr("id", uniqueId);
    $("img.preview").last().attr("id", `${uniqueId}1`);
  });
</script>

<script type="text/javascript">
  function reply_click(clicked_id) {
    var imgFile = document.getElementById(clicked_id);
    var prevNum = `${clicked_id}1`;

    $(imgFile).change(function(){      
      readImgUrlAndPreview(this);
      function readImgUrlAndPreview(input){
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {                    
            $(`#${prevNum}`).attr('src', e.target.result);
          }
        };
        reader.readAsDataURL(input.files[0]);
      } 
    });
  }
</script>
