<div class="form-group nested-fields">
	<h4>Food Item:</h4>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :food_image %>
    <%= f.file_field :food_image %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control' %>
  </div>

  <%= link_to_remove_association 'Remove Menu Item', f, class: 'btn btn-outline-danger' %>
</div>
