<div class="form-group nested-fields">
	<h4>Food Item:</h4>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  
  <div class="row">    
    <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">  
      <!-- image-preview-filename input [CUT FROM HERE]-->
      <div class="input-group image-preview">
        <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
        <span class="input-group-btn">
          <!-- image-preview-clear button -->
          <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
            <span class="glyphicon glyphicon-remove"></span> Clear
          </button>
          <!-- image-preview-input -->
          <div class="btn btn-default image-preview-input">
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="image-preview-input-title">Browse</span>
            <%= f.file_field :food_image, name: "input-file-preview" %> <!-- rename it -->
          </div>
        </span>
      </div><!-- /input-group image-preview [TO HERE]--> 
    </div>
  </div>
  

 <!--  <div class="form-group">
    <%#= f.label :food_image %>
    <%#= f.file_field :food_image, name: "input-file-preview" %>
  </div> -->

  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control' %>
  </div>

  <%= link_to_remove_association 'Remove Menu Item', f %>
</div>

