<section class="jumbotron text-center truckjumbotron">
  <div class="container">
    <h1 class="jumbotron-heading">Food Trucks</h1>
      <p class="lead text-muted">These are a list of the Utah Food Truck Association Food Trucks. Feel free to click on any truck to get more information about them!</p>
  </div>
  <%= form_tag(trucks_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Trucks" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>

  <%= form_tag(trucks_path, :method => "get", id: "dropdown-form") do %>
    <%= link_to "Clear filter", trucks_path, class: "btn btn-secondary filter-btn-margin-bottom" %>
    <%= collection_select(:dropdown, :food_type, Truck.select(:food_type).order(:food_type).uniq, :food_type, :food_type, options={:include_blank => "- Choose Food Type -"}, html_options={:onchange => 'this.form.submit()', class: "custom-select filter-btn-margin-bottom"}) %>
  <% end %>
</section>

<div class="album text-muted">
  <div class="container">
<%# if current_user%>
    <%#= image_tag(current_user.image) %>
    <%#= current_user.name %>
<%# end %>

    <br>

    <p><%= link_to 'New Truck', new_truck_path, class: "btn btn-primary" if logged_in?(:admin) || logged_in?(:truck) %></p>

    <% if @trucks.blank? %>
      <h4 class="alert alert-danger" role="alert">There are no trucks containing the term <%= params[:search] %>.</h4>
    <% end %>

    <div class="row">
      <% @trucks.each do |truck| %>
        <div class="col-md-4">
          <div class="card thumb-img">
            <%= link_to (image_tag truck.thumb_image, width: '100%'), truck %>
            <p class="card-text">
              <span><%= link_to truck.truck_name.titleize, truck %></span>
              <br>
              <%= truck.description.truncate(28) %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
