<section class="jumbotron text-center truckjumbotron">
  <div class="container">
    <h1 class="jumbotron-heading">Food Trucks</h1>
      <p class="lead text-muted">These are a list of the Utah Food Truck Association Food Trucks. Feel free to click on any truck to get more information about them!</p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">
    <p id="notice"><%= notice %></p>
<%# if current_user%>
    <%#= image_tag(current_user.image) %>
    <%#= current_user.name %>
<%# end %>

    <%# @trucks.each do |truck| %>
      
      <%#= truck.truck_name %>
      <%#= truck.description %>
      <%#= truck.main_image %>
      <%#= truck.thumb_image %>
      <%#= link_to 'Show', truck %>
      <%#= link_to 'Edit', edit_truck_path(truck) %>
      <%#= link_to 'Destroy', truck, method: :delete, data: { confirm: 'Are you sure?' } %>
      
    <%# end %>


    <%= link_to 'New Truck', new_truck_path %>
    <div class="row">
      <% @trucks.each do |truck| %>
      <div class="col-md-4">
        <div class="card">
          <%= link_to (image_tag truck.thumb_image, width: '100%'), truck %>
          <p class="card-text">
            <span><%= link_to truck.truck_name, truck %></span>
            <br>
            <%= truck.description.truncate(20) %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>