<div class="album text-muted">
  <div class="container">
    <p id="notice"><%= notice %></p>
<%# if current_user%>
    <%#= image_tag(current_user.image) %>
    <%#= current_user.name %>
<%# end %>
    

    <h1>Trucks</h1>

    <%# @trucks.each do |truck| %>
      
      <%#= truck.truck_name %>
      <%#= truck.description %>
      <%#= truck.main_image %>
      <%#= truck.thumb_image %>
      <%#= link_to 'Show', truck %>
      <%#= link_to 'Edit', edit_truck_path(truck) %>
      <%#= link_to 'Destroy', truck, method: :delete, data: { confirm: 'Are you sure?' } %>
      
    <%# end %>

    <br>

    <%= link_to 'New Truck', new_truck_path %>
    <div class="row">
      <% @trucks.each do |truck| %>
      <div class="col-md-4">
        <div class="card">
          <%= link_to (image_tag truck.thumb_image, width: '100%'), truck %>
          <p class="card-text">
            <span><%= link_to truck.truck_name, truck %></span>
            <%= truck.description %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>