<div class="image-background" style="background-image: url('<%= asset_path place_holder_img(@truck.main_image, 'main') %>')"></div>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <h1 id="caption"></h1>
</div>

<div class="follow-container">
	<% if logged_in?(:admin) || (logged_in?(:truck) && current_user.id == @truck.user_id) %>
			<!-- Button trigger modal -->
		<a class="btn btn-info" id="follow" data-toggle="modal" href="#exampleModal">
		  Follow Calendar with Edit
		</a>

			<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h2 class="modal-title" id="exampleModalTitle">Follow <%= @truck.truck_name.titleize %> Calendar With Edit</h2>
		        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button> -->
		      </div>
		      <div class="modal-body">
		        <%= form_tag(follow_truck_url(@truck), :method => :post) do |f|%>
							<div class="form-group">
								<%= label_tag :email, "Google Email*" %>
								<%= email_field_tag :email, "", class: "form-control", required: true %>
							</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <%= submit_tag 'Submit', class: 'btn btn-primary btn-block' %>
		      </div>
		      	<% end %>
		    </div>
		  </div>
		</div>
	<% end %>

		<!-- Button trigger modal -->
	<a class="btn btn-success" id="follow" data-toggle="modal" href="#exampleModalLong">
	  Follow Calendar
	</a>

		<!-- Modal -->
	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h2 class="modal-title" id="exampleModalLongTitle">Follow <%= @truck.truck_name.titleize %> Calendar</h2>
	        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button> -->
	      </div>
	      <div class="modal-body">
	        <%= form_tag(follow_truck_guest_url(@truck), :method => :post) do |f|%>
						<div class="form-group">
							<%= label_tag :email, "Google Email*" %>
							<%= email_field_tag :email, "", class: "form-control", required: true %>
						</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <%= submit_tag 'Submit', class: 'btn btn-primary btn-block' %>
	      </div>
	      	<% end %>
	    </div>
	  </div>
	</div>
</div>

<div class="container">

	<h1 class="truck-title"><%= @truck.truck_name.titleize %></h1>

	<p class="truck-info"><%= @truck.description %></p>

	<p>
		<a class="btn btn-primary" id="icontoggle" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			Schedule and Map <i class="fa fa-eye" aria-hidden="true"></i>
		</a>
	</p>

	<div class="collapse" id="collapseExample">
		<div id="tabs">
		  <ul>
		    <li><a href="#fragment-1"><span class="btn">Events</span></a></li>
		    <li><a href="#fragment-2"><span class="btn">Calendar</span></a></li>
		    <li><a href="#fragment-3" class="fragment-3"><span class="btn">Map</span></a></li>
		  </ul>
		  <div id="fragment-1">
		    <!-- <h1>Events:</h1> -->
				<% unless @glocation.flatten.include?("#{@truck.truck_name}") %>
					<p class="alert alert-danger" role="alert">No upcoming Events</p>
				<% end %>

				<% @glocation.each do |info| %>
					<% if info[6] == @truck.truck_name %>
						<div class="row">
							<div class="col-md-11">
								<!-- <span><%#= info[2] %>:</span> -->
								<p>
									<strong><a href='<%= info[8] %>' target='_blank'><%= info[2] %></a></strong> (<%= info[3].to_date.strftime("%b. %d") %>, <%= info[3].strftime("%I:%M%p") %> - <%= info[4].to_date.strftime("%b. %d") %>, <%= info[4].strftime("%I:%M%p") %>):
									<br>
									<a href='https://maps.google.com/maps?q=<%= info[5] %>&hl=en' target='_blank'><%= info[5] %></a>
								</p>

							</div>
							<div class="col-md-1 center">
								<% msg = info[9] ? "Are you sure you want to delete all the recurring events?" : "Are you sure?" %>
								<%= link_to ("<i class='fa fa-times fa-2x' aria-hidden='true'></i>").html_safe, delete_event_path(id: @truck, event_id: info[7], recurring_event_id: info[9]), method: :delete, class: "text-danger", data: { confirm: msg  } if logged_in?(:admin) || (logged_in?(:truck) && current_user.id == @truck.user_id) %>
							</div>
						</div>
					<% end %>
				<% end %>
		  </div>

		  <div id="fragment-2">
		  	<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=<%= @truck.calendar_id %>&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%232F6309&amp;ctz=<%= @truck.time_zone %>" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no" class="big-iframe"></iframe>

		  	<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;mode=WEEK&amp;src=<%= @truck.calendar_id %>&amp;&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%232F6309&amp;ctz=<%= @truck.time_zone %>" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no" class="small-iframe"></iframe>
		  </div>

		  <div id="fragment-3">
		    <div style='width: 100%;'>
				  <div id="map" style='width: 100%; height: 600px;'></div>
				</div>
		  </div>
		</div>
	</div>

<script>
	$("#tabs").tabs();
</script>

	<h1>Menu:</h1>

	<% @truck.menus.each do |menu_item| %>
		<div class="card">
		<div class="row menu-item">
			<div class="col-md-3">
				<%= image_tag place_holder_img(menu_item.food_image, 'menu'), width: '100%', class: "rounded float-right myImg", id: "myImg_#{menu_item.id}", alt: "#{menu_item.title.capitalize}", onclick: "reply_click(this.id)" %>
				<%#= image_tag "http://barcodedc.com/wp-content/gallery/food/healthfitnessrevolution-com.jpg", width: '100%', class: "rounded float-right myImg", id: "1", alt: "#{@truck.truck_name.capitalize}" %>

			</div>
			<div class="col-md-2 text-right menu-money my-auto">
				<h3><%= number_to_currency menu_item.price %></h3>
			</div>
			<div class="col-md-7 food-item my-auto">
				<h3><%= menu_item.title.capitalize %></h3>
				<p><%= menu_item.description %></p>
			</div>
		</div>
		</div>
	<% end %>

	<!-- <div class="row menu-item">
		<div class="col-md-3">
			<%#= image_tag menu_item.food_image, width: '100%' %>
			<%#= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjrD6kezgNgCwwCN18IHCiCpNfbEN8HJn9iFEq-NcUGdikFpDfbQ", width: '100%', class: "rounded float-right", id: "2", alt: "#{@truck.truck_name.capitalize}" %>
		</div>
		<div class="col-md-2 text-right menu-money my-auto">
			<h3><%#= number_to_currency "10" %></h3>
		</div>
		<div class="col-md-7 food-item my-auto">
			<h3>Food Item</h3>
			<p>description</p>
		</div>
	</div> -->


  <%= link_to 'Back', trucks_path %>
	<% if logged_in?(:admin) || (logged_in?(:truck) && current_user.id == @truck.user_id) %>
		|
    <%= link_to 'Edit', edit_truck_path(@truck), class: 'btn btn-warning' %> |
    <%= link_to 'Delete', truck_path(@truck), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'New Event', new_event_path(@truck), class: 'btn btn-primary' %>
  <% end %>
</div>


<script type="text/javascript">
	// Get the modal
	var modal = document.getElementById('myModal');

	// Get the image and insert it inside the modal - use its "alt" text as a caption

	function reply_click(clicked_id) {
		var img = document.getElementById(clicked_id);
		var modalImg = document.getElementById("img01");
		var captionText = document.getElementById("caption");

    modal.style.display = "block";
    modalImg.src = img.src;
    captionText.innerHTML = img.alt;
	}
	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	  modal.style.display = "none";
	}
	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
	}
</script>
<script type="text/javascript">
		// change Schedule and Map icon
	$('#icontoggle').on('click', function(){
    var iSelector = $(this).find('i:first');
    if(iSelector.hasClass('fa fa-eye')) {
      iSelector.removeClass('fa fa-eye')
      iSelector.addClass('fa fa-eye-slash')
    } else if (iSelector.hasClass('fa fa-eye-slash')) {
    	iSelector.removeClass('fa fa-eye-slash')
      iSelector.addClass('fa fa-eye')
    }
	});
</script>
<script type="text/javascript">
	// Google map Javascript code
function initialize() {
  handler = Gmaps.build('Google', { markers: { randomize: true, maxRandomDistance: 5, clusterer: { maxZoom: 9, gridSize: 40 }}});
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  if (markers.length == 1) {
  	handler.getMap().setZoom(17);
  };
  if(markers.length == 0){
    navigator.geolocation.getCurrentPosition(displayOnMap);
  }
  function displayOnMap(position){
	  var marker = handler.addMarker({
	    lat: position.coords.latitude,
	    lng: position.coords.longitude,
	    infowindow: "Current Location"
	  });
	  handler.map.centerOn(marker);
	};
  handler.centerOn(markers);
});
}

$(".fragment-3").on('click', initialize);
</script>
