<div class='container app-container'>
	<div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">Utah Food Truck Association</h3>
      <nav class="nav nav-masthead">
        <li class="nav-item">
           <%= link_to "Home", root_path, class: "nav-link #{active? root_path}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Trucks", trucks_path, class: "nav-link #{active? trucks_path}" %>
        </li>
        <li class="nav-item">
          <%= link_to "About Us", about_path, class: "nav-link #{active? about_path}" %>
        </li>        
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link #{active? contact_path}" %>
        </li>

        <li><p class="navbar-text logs nav-login">Have an account?</p></li>
        <li class="nav-item">
          <%= login_helper 'nav-link' %>
        </li>
			</nav>
  	</div>
	</div>
</div>

