<div class="home-container" id="startchange">
	<div class="row">
		<div class="col-md-9">
			<div id="tabs">
			  <ul>
			    <li><a href="#fragment-1"><span class="btn">Map</span></a></li>
			    <li><a href="#fragment-2"><span class="btn">Calendar</span></a></li>
			  </ul>
			  <div id="fragment-1">
			    <div style='width: 100%;'>
					  <div id="map" style='width: 100%; height: 600px;'></div>
					</div>
			  </div>
			  <div id="fragment-2">
			  	<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;<% @calendars.items.each do |c| %>src=<%= c.id %>&amp;color=%<%= @color.sample %>&amp;<% end %>src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%232F6309&amp;ctz=America/Denver" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no" class="big-iframe"></iframe>

			  	<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;mode=WEEK&amp;<% @calendars.items.each do |c| %>src=<%= c.id %>&amp;color=%<%= @color.sample %>&amp;<% end %>src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%232F6309&amp;ctz=America/Denver" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no" class="small-iframe"></iframe>
			  </div>
			</div>
		 
				<script>
					$( "#tabs" ).tabs();
				</script>
		</div>
		<!-- <div class="col-md-3 center-sidebar"> -->
		<div class="col-md-3 truck-list">
			<%= render 'shared/home_sidbar' %>
		</div>
	</div>		 
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google', { markers: { randomize: true, maxRandomDistance: 5, clusterer: { maxZoom: 9, gridSize: 40 }}});
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  if (markers.length == 1) {
  	handler.getMap().setZoom(17);
  };
  if(markers.length == 0){
    navigator.geolocation.getCurrentPosition(displayOnMap);
  }
  function displayOnMap(position){
	  var marker = handler.addMarker({
	    lat: position.coords.latitude,
	    lng: position.coords.longitude,
	    infowindow: "Current Location"
	  });
	  handler.map.centerOn(marker);
	};
  // handler.centerOn(markers);
});
</script>
