<!DOCTYPE html>
<html>
  <head>
    <title>Ufta</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'trucks', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%#= render 'shared/application_nav' %>
    <%= render 'shared/truck_nav' %>

    <%= yield %>


    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>©2017 Utah Food Truck Association All rights reserved</p>
      </div>
    </footer>

    <%= alerts_helper %>
 
  </body>
</html>
